.window
	position relative
	margin 2em 0
	padding 0.5em 1em
	border solid 2px _white
	border-radius 8px
	min-height 20vh
	&_title
		position absolute
		display inline-block
		top -13px
		left 10px
		padding 0 9px
		line-height 1
		font-size 19px
		font-weight bold
		background _background-color

.contents_wrapper
	margin-top 40px
	padding 1vh

input
	background-color _background-color
	
textarea
	background-color _background-color
	color _white
	max-width 100%
	min-width 100%

.form
	&-part
		margin-top 12px
	&-label
		padding 12px 0