// Navbar類コンポーネント
.navbar
	background-color _background-color
	color _white
// Window類コンポーネント
.window
	position relative
	margin 1.6em 0
	padding 8px
	border-radius 8px
	//box-shadow 4px 4px _light-shades
	min-height 20vh
	background _dark-shades
	&_title
		position absolute
		display inline-block
		top -13px
		left 10px
		padding 8px
		line-height 1
		font-size 19px
		border-radius 12px
		box-shadow 0 0 1px _light-shades
		background _dark-shades

.contents_wrapper
	margin-top 40px
	padding 1vh

// Form，主に入力モーダルに適用
input
	background-color _light-shades
	&::placeholder
		color _dark-shades

textarea
	background-color _light-shades
	color _dark-shades
	max-width 100%
	min-width 100%
	&::placeholder
		color _dark-shades

select
	background-color: _light-shades
	color _dark-shades

.form
	&-part
		margin-top 12px
	&-label
		padding 12px 0

// Panel類コンポーネント
.panel
	margin-top 10px
	padding 4px
	background-color _light-shades
	color _dark-shades
	overflow hidden
	line-height center
	border-radius 10px
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
	&_item
		i
			padding-right 4px
			color _dark-shades
	&_interface
		padding 0
		text-align right
		.edit
			margin-right 16px
			color _light-accent
		.remove
			margin-right 8px
			color _dark-accent

.btn-icon
	display table-cell
	margin-left 5%
	padding 0
	font-size 180%
	background-color _dark-shades
	color _light-accent
	border none
	vertical-align middle