_white = rgb(235, 235, 235)
_gray-lighten = rgb(115, 115, 115)
_gray-darker = rgb(25, 25, 25)
_indigo = rgba(0,0,0, 0.87)
_main-color = #E4AC48 //- anzac
_light-accent = #9A8D72 //- pale oyster
_light-shades = #F2F2E3 //- white rock
_dark-accent = #965132 //- mule fawn
_dark-shades = #3F3A37 //- masala
_background-color = rgba(0,0,0, 0.87)
